In [1]:
import pandas as pd 
from sklearn.tree import DecisionTreeClassifier

In [2]:
trainfile = '../data/bank_train.csv'
testfile = '../data/bank_test.csv'

df_train = pd.read_csv(trainfile, header=None)
df_test = pd.read_csv(testfile, header=None)

In [3]:
df_train.head()

         0       1       2        3  4
0  3.62160  8.6661 -2.8073 -0.44699  0
1  4.54590  8.1674 -2.4586 -1.46210  0
2  3.86600 -2.6383  1.9242  0.10645  0
3  3.45660  9.5228 -4.0112 -3.59440  0
4  0.32924 -4.4552  4.5718 -0.98880  0

In [4]:
X = df_train.iloc[:,:-1]

In [5]:
X

            0        1         2        3
0     3.62160  8.66610 -2.807300 -0.44699
1     4.54590  8.16740 -2.458600 -1.46210
2     3.86600 -2.63830  1.924200  0.10645
3     3.45660  9.52280 -4.011200 -3.59440
4     0.32924 -4.45520  4.571800 -0.98880
...       ...      ...       ...      ...
1078 -0.37013 -5.55400  4.774900  1.54700
1079  0.12126  0.22347 -0.473270  0.97024
1080 -0.27068  3.26740 -3.556200 -3.08880
1081 -5.11900  6.64860 -0.049987 -6.52060
1082 -1.39460  2.31340 -0.444990 -1.49050

[1083 rows x 4 columns]

In [6]:
y = df_train.iloc[:,-1]

In [7]:
y

0       0
1       0
2       0
3       0
4       0
       ..
1078    1
1079    1
1080    1
1081    1
1082    1
Name: 4, Length: 1083, dtype: int64

In [8]:
model = DecisionTreeClassifier(max_depth=6, min_samples_leaf=3, random_state=0)

In [9]:
model.fit(X, y)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=3, random_state=0)

In [10]:
model.score(df_test.iloc[:,:-1].values, df_test.iloc[:,-1])

0.9792387543252595